<!--
<header class="bg-placeholder h-screen flex flex-col justify-between">
  <nav class="flex justify-between items-center p-4 text-xl">
    <div class="menu-button">Logo</div>
    <div class="enquire-button">Enquire </div>
  </nav>
  <div class="px-8 mb-20 text-white">
    <h1 class="text-6xl font-bold font-amandine mb-4">Illuminate Your Online Presence</h1>
    <p class="font-amandine text-xl">Gemwork Station</p>
  </div>
</header> -->



<section class="banner flex items-end fixed-bg">
  <div class="px-8 text-6xl text-white">
    <div class="background-image h-screen bg-no-repeat flex justify-end items-start">
      <img src="/uploads/logo_gemwork.png" alt="Gemwork Station Logo" style="width: 300px; height: 300px;">
    </div>
    <h2 class="font-amandine mb-2"> Illuminate Your Online Presence </h2>
    <h3 class="font-amandine"> Gemwork Station </h3>
  </div>
</section>



