<!--
<header class="bg-placeholder h-screen flex flex-col justify-between">
  <nav class="flex justify-between items-center p-4 text-xl">
    <div class="menu-button"><i class="fas fa-bars"></i> Menu</div>
    <div class="enquire-button">Enquire <i class="fas fa-plus"></i></div>
  </nav>
  <div class="px-8 mb-20 text-white">
    <h1 class="text-6xl font-bold mb-4">A strategic & solution-focused approach to family law</h1>
    <p class="text-xl">Gemwork Station</p>
  </div>
</header> -->

<header class="bg-cover bg-center bg-fixed min-h-50 p-5p flex items-center"
  style="background-image:url({{page.second-banner-image}})">
  <h2 class="text-6xl max-w-lg text-white leading-none mb-0"> "Once you get a taste for travel you'll never be the same"
  </h2>
</header>